#top-jumbo {
    padding: 0 0 400px;
   background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffffff 1%, #ffffff 40%, #8948f2 77%, #e0a1df 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ffffff 1%,#ffffff 40%,#8948f2 77%,#e0a1df 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ffffff 1%,#ffffff 40%,#8948f2 77%,#e0a1df 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#top-jumbo:after{
    content: "";
    display: table;
    clear: both;
}

#top-jumbo .left-side{
    width: 40%;
    display: inline-block;
    float: left;

}
#top-jumbo .left-side .large-number{
    font-size: 300px;
    font-weight: 700;
    opacity: .1;
    color: #4C44C1;
    position: relative;
    left: -20px;
    top: 45px;
    z-index: 1;

}

#top-jumbo .left-side .info-container{
    position: relative;
    top: -50px;
}

#top-jumbo .left-side .info-container h1{
   font-size: 4.5rem;
   color: #4C44C1;
   text-transform: uppercase;
   margin-bottom: 1.5rem;
   line-height: 1.1;
  
}

#top-jumbo .left-side .info-container p{
   font-size: 1rem;
   line-height: 1.5;
   color: #aaacaf;
   text-transform: capitalize;
  
}

#top-jumbo .right-side{
    width: 60%;
    display: inline-block;
    float: left;
}

#top-jumbo .right-side img{
    width: 100%;
    
}